# start the hv_vss_daemon
#
[Unit]
Description=Hyper-V VSS Protocol Daemon
ConditionVirtualization=microsoft

[Service]
Type=forking
ExecStart=/usr/sbin/hv_vss_daemon

[Install]
WantedBy=multi-user.target
